{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "settings": {
    "import/extensions": [
      ".js",
      ".ts"
    ],
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts"
      ]
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts"
        ]
      }
    }
  },
  "rules": {
    "no-unused-vars": "off",
    "no-plusplus": "off",    
    "no-underscore-dangle": "off",
    "import/no-cycle": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off"
  }
}